@font-face {
    font-family: "Forza-Bold";
    src: url("../fonts/Forza-Bold.otf");
}

@font-face {
    font-family: "PxGrotesk-Light";
    src: url("../fonts/PxGrotesk-Light.otf");
}

.font-p-l {
    font-family: "PxGrotesk-Light", sans-serif !important;
}

.font-fz-b {
    font-family: "Forza-Bold", sans-serif !important;
}

.title-header {
    font-family: 'Forza-Bold', sans-serif !important;
}

.title-header {
    font-family: 'Forza-Bold', sans-serif !important;
}

body {
    font-family: 'PxGrotesk-Light', sans-serif !important;
}

.bg-dark-blue {
    background-color: #0b1216 !important;
}

.bg-sky {
    background-color: #159AC7 !important;
    border-color: #159AC7 !important;
}

.text-sky {
    color: #159AC7;
}

.text-gray {
    color: #F1EAE0 !important;
}

.text-white {
    color: white !important;
}

/* ----- All Boats ----- */

.all-boats-navbar * #show-all:hover {
    color: white !important;
}

.all-boats-navbar * #show-wakesetter:hover {
    color: white !important;
}

.all-boats-navbar * #show-response:hover {
    color: white !important;
}

.all-boats-navbar * #show-m235:hover {
    color: white !important;
}

.all-boats-item:hover {
    background-color: #1D272D !important;
    color: #FFFFFF !important;
}

.all-boats-item:hover > .row > div > button {
    color: #FFFFFF !important;
}

.all-boats-item:hover * a > button {
    color: #FFFFFF !important;
}

.active-white {
    color: white;
}

/* -------------------------- */

img {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btn-malibu:hover, .btn-malibu:focus {
    color: #159AC7;
}

@media (max-width: 576px) {

    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }

    #navbar-desktop {
        display: none;
    }

    .nav-item-logo {
        display: none;
    }

    .title-header {
        font-size: 45px !important;
    }

    .title-boat-detail {
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 25px !important;
    }

    .sub-header {
        font-size: 25px !important;
    }

    .description, .card-description {
        font-size: 14px !important;
    }

    .small-title {
        font-size: 11px !important;
    }

    .font-explore-title {
        font-family: "Forza-Bold", sans-serif !important;
        font-weight: bold !important;
        font-size: 18px !important;
    }

    .dropdown-item {
        font-size: 16px !important;
    }

    .nav-link {
        font-family: 'Forza-Bold', sans-serif !important;
        font-size: 16px !important;
        color: white !important;
    }

    .description, .card-description {
        color: black !important;
        font-size: 14px !important;
    }

    .explore-menu {
        font-size: 12px !important;
    }

    /* Button Style */
    .btn-malibu {
        background-color: transparent !important;
        border: 1px solid #1F94BA !important;
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 14px !important;
        padding: 20px 45px 20px 45px;
    }
}

@media (min-width: 576px) {
    #navbar-mobile {
        display: none;
    }

    .title-header {
        font-size: 64px !important;
    }
}

@media (min-width: 1200px) {

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    #navbar-mobile {
        display: none;
    }

    .title-header {
        font-size: 64px !important;
    }

    .title-boat-detail {
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 48px !important;
    }

    .sub-header {
        font-size: 48px !important;
    }

    .description, .card-description {
        font-size: 18px !important;
    }

    .small-title {
        font-size: 16px !important;
    }

    .font-explore-title {
        font-family: "Forza-Bold", sans-serif !important;
        font-weight: bold !important;
        font-size: 22px !important;
    }

    .dropdown-item {
        font-size: 13px !important;
    }

    .nav-link {
        font-family: 'Forza-Bold', sans-serif !important;
        font-size: 12px !important;
        color: white !important;
    }

    .description, .card-description {
        color: black !important;
        font-size: 14px !important;
    }

    .explore-menu {
        font-size: 12px !important;
    }

    /* Button Style */
    .btn-malibu {
        background-color: transparent !important;
        border: 1px solid #1F94BA !important;
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 12px !important;
        padding: 25px 30px 25px 30px;
    }
}

@media (min-width: 1920px) {

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    #navbar-mobile {
        display: none;
    }

    .title-header {
        font-size: 80px !important;
    }

    .title-boat-detail {
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 60px !important;
    }

    .sub-header {
        font-size: 60px !important;
    }

    .description, .card-description {
        font-size: 18px !important;
    }

    .small-title {
        font-size: 20px !important;
    }

    .font-explore-title {
        font-family: "Forza-Bold", sans-serif !important;
        font-weight: bold !important;
        font-size: 38px !important;
    }

    .dropdown-item {
        font-size: 16px !important;
    }

    .nav-link {
        font-family: 'Forza-Bold', sans-serif !important;
        font-size: 15px !important;
        color: white !important;
    }

    .description, .card-description {
        color: black !important;
        font-size: 18px !important;
    }

    .explore-menu {
        font-size: 15px !important;
    }

    /* Button Style */
    .btn-malibu {
        background-color: transparent !important;
        border: 1px solid #1F94BA !important;
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 15px !important;
    }
}

.dropdown-item {
    color: #1F94BA !important;
}

section {
    border-top: 3px solid #159AC7 !important;
}

.links ul li a {
    font-family: "Forza-Bold", sans-serif !important;
}

/* 1a start */
.mobile-brand-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container-fluid.justify-end {
    justify-content: flex-end;
}

.navbar-translate.width-auto {
    width: auto;
}

/* 1a end */

/* 1b, 1c start */
.modal-content.country-list-content {
    border-radius: unset;
    background-color: rgba(20, 20, 20, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

span.white-color {
    color: white;
}

.country-list a {
    text-decoration: none;
    display: block;
    color: white;
    transition: all 0.2s;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    padding-left: 10px;
}

.country-list a:hover {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}


.country-list a {
    text-decoration: none;
    display: block;
    color: white;
}

.country-list a img {
    display: inline-block;
    width: 3rem;
    height: auto;
}

.country-list a div {
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
    vertical-align: middle;
}

.clear-float {
    clear: both;
}

/* 1b, 1c end */

/* Navbar */
#header {
    position: relative;
    margin: 0 auto 0;
}


#header ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#header ul li {
    float: left;
    padding: 10px 20px;
}

#header ul li a {
    font-family: 'Forza-Bold', sans-serif !important;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

/* End Navbar */
