.font-p-l {
    font-family: "PxGrotesk-Light", sans-serif !important;
}

.font-fz-b {
    font-family: "Forza-Bold", sans-serif !important;
}

.title-header {
    font-family: 'Forza-Bold', sans-serif !important;
}

.title-header {
    font-family: 'Forza-Bold', sans-serif !important;
}

body {
    font-family: 'PxGrotesk-Light', sans-serif !important;
}

.bg-dark-blue {
    background-color: #0b1216 !important;
}

.bg-sky {
    background-color: #159AC7 !important;
    border-color: #159AC7 !important;
}

.text-sky {
    color: #159AC7;
}

.text-gray {
    color: #F1EAE0 !important;
}

.text-white {
    color: white !important;
}

.uppercase {
    text-transform: uppercase;
}

/* ----- All Boats ----- */

.all-boats-navbar * #show-all:hover {
    color: white !important;
}

.all-boats-navbar * #show-wakesetter:hover {
    color: white !important;
}

.all-boats-navbar * #show-response:hover {
    color: white !important;
}

.all-boats-navbar * #show-m235:hover {
    color: white !important;
}

.all-boats-item:hover {
    background-color: #1D272D !important;
    color: #FFFFFF !important;
}

.all-boats-item:hover > .row > div > button {
    color: #FFFFFF !important;
}

.all-boats-item:hover * a > button {
    color: #FFFFFF !important;
}

.active-white {
    color: white;
}

/* -------------------------- */

img {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btn-malibu:hover, .btn-malibu:focus {
    color: #159AC7;
}

@media (min-width: 576px) {
    .title-header {
        font-size: 64px !important;
    }

    /* Button Style */
    .btn-malibu {
        background-color: transparent !important;
        border: 1px solid #1F94BA !important;
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 12px !important;
        padding: 20px 45px 20px 45px;
    }
}

@media (max-width: 576px) {
    .nav-item-logo {
        display: none;
    }

    .title-header {
        font-size: 45px !important;
    }

    .title-boat-detail {
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 25px !important;
    }

    .sub-header {
        font-size: 25px !important;
    }

    .content-title {
        font-size: 25px !important;
    }

    .description, .card-description {
        font-size: 14px !important;
    }

    .small-title {
        font-size: 11px !important;
    }

    .font-explore-title {
        font-family: "Forza-Bold", sans-serif !important;
        font-weight: bold !important;
        font-size: 18px !important;
    }

    .dropdown-item {
        font-size: 16px !important;
    }

    .nav-link {
        font-family: 'Forza-Bold', sans-serif !important;
        font-size: 16px !important;
        color: white !important;
    }

    .description, .card-description {
        color: black !important;
        font-size: 14px !important;
    }

    .explore-menu {
        font-size: 12px !important;
    }

    /* Button Style */
    .btn-malibu {
        background-color: transparent !important;
        border: 1px solid #1F94BA !important;
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 14px !important;
        padding: 20px 45px 20px 45px;
    }
}

@media (min-width: 768px) {
    /* Button Style */
    .btn-malibu {
        background-color: transparent !important;
        border: 1px solid #1F94BA !important;
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 12px !important;
        padding: 25px 30px 25px 30px;
    }
}

@media (max-width: 992px) {
    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }
}

@media (min-width: 1200px) {

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    .title-header {
        font-size: 64px !important;
    }

    .title-boat-detail {
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 48px !important;
    }

    .sub-header {
        font-size: 48px !important;
    }

    .content-title {
        font-size: 38px !important;
    }

    .description, .card-description {
        font-size: 18px !important;
    }

    .small-title {
        font-size: 16px !important;
    }

    .font-explore-title {
        font-family: "Forza-Bold", sans-serif !important;
        font-weight: bold !important;
        font-size: 22px !important;
    }

    .dropdown-item {
        font-size: 13px !important;
    }

    .nav-link {
        font-family: 'Forza-Bold', sans-serif !important;
        font-size: 12px !important;
        color: white !important;
    }

    .description, .card-description {
        color: black !important;
        font-size: 14px !important;
    }

    .explore-menu {
        font-size: 12px !important;
    }

    /* Button Style */
    .btn-malibu {
        background-color: transparent !important;
        border: 1px solid #1F94BA !important;
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 12px !important;
        padding: 25px 30px 25px 30px;
    }

    /* Navbar */
    #header ul li:nth-of-type(2) {
        margin-left: 125px;
    }

    #header ul li:nth-of-type(3) {
        margin-left: 365px;
    }

    #header ul li:nth-of-type(4) {
        margin-right: 30px;
        margin-left: 30px;
    }

    #header ul li:nth-of-type(5) {
        margin-left: 0;
    }

    .navbar-collapse:after, .navbar-collapse.collapse {
        visibility: hidden;
    }
}

@media (max-width: 1200px) {
    .navbar-collapse:after, .navbar-collapse.collapse {
        visibility: visible;
        background-color: #0b1216 !important;
        border-color: #0b1216 !important;
    }

    #header ul li:nth-of-type(2) {
        margin-left: 85px;
    }

    #header ul li:nth-of-type(3) {
        margin-left: 235px;
    }

    #header ul li:nth-of-type(4) {
        margin-right: 0;
        margin-left: 0;
    }

    #header ul li:nth-of-type(5) {
        margin-left: 0;
    }
}

@media (min-width: 1300px) {

    #header ul li:nth-of-type(3) {
        margin-left: 390px;
    }

    #header ul li:nth-of-type(5) {
        margin-left: 30px;
    }
}

@media (min-width: 1920px) {

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    .title-header {
        font-size: 80px !important;
    }

    .title-boat-detail {
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 60px !important;
    }

    .sub-header {
        font-size: 60px !important;
    }

    .content-title {
        font-size: 48px !important;
    }

    .description, .card-description {
        font-size: 18px !important;
    }

    .small-title {
        font-size: 20px !important;
    }

    .font-explore-title {
        font-family: "Forza-Bold", sans-serif !important;
        font-weight: bold !important;
        font-size: 38px !important;
    }

    .dropdown-item {
        font-size: 16px !important;
    }

    .nav-link {
        font-family: 'Forza-Bold', sans-serif !important;
        font-size: 15px !important;
        color: white !important;
    }

    .description, .card-description {
        color: black !important;
        font-size: 18px !important;
    }

    .explore-menu {
        font-size: 15px !important;
    }

    /* Button Style */
    .btn-malibu {
        background-color: transparent !important;
        border: 1px solid #1F94BA !important;
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 15px !important;
    }
}

.dropdown-item {
    color: #1F94BA !important;
}

section {
    border-top: 3px solid #159AC7 !important;
}

.links ul li a {
    font-family: "Forza-Bold", sans-serif !important;
}

/* 1a start */
.mobile-brand-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container-fluid.justify-end {
    justify-content: flex-end;
}

.navbar-translate.width-auto {
    width: auto;
}

/* 1a end */

/* 1b, 1c start */
.modal-content.country-list-content {
    border-radius: unset;
    background-color: rgba(20, 20, 20, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

span.white-color {
    color: white;
}

.country-list a {
    text-decoration: none;
    display: block;
    color: white;
    transition: all 0.2s;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    padding-left: 10px;
}

.country-list a:hover {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}


.country-list a {
    text-decoration: none;
    display: block;
    color: white;
}

.country-list a img {
    display: inline-block;
    width: 3rem;
    height: auto;
}

.country-list a div {
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
    vertical-align: middle;
}

.clear-float {
    clear: both;
}

/* 1b, 1c end */

.popCard {
    background-position: center center;
    background-size: cover;
    text-align: center;
    z-index: 1;
    width: 100%;

    min-height: 280px;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 12px;
    transition: transform .6s;
    color: white;
    box-sizing: border-box;
}

.popCard:hover {
    transform: scale(1.2);
}

.boatSlide {
    text-align: center;
}

#allBalls {
    text-align: center;
    width: 100%;
}


.balls {
    cursor: pointer;
}

.tooltiptext {
    border-radius: 5px;
    background: white;
    padding: 7px;
    color: black;
    visibility: hidden;
}

.boatSlidePic {
    height: 51.4rem;

}

.boatPic {
    /*position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    margin: auto;*/

    white-space: nowrap;
    background-size: cover;
    z-index: 2000;
    background-position: center center;


    height: 100%;

    width: 100%;
}


.oval {
    -ms-transform: matrix(0.8, -0.05, 0, 0.8, 0, 0);
    -webkit-transform: matrix(0.8, -0.05, 0, 0.8, 0, 0);
    transform: matrix(0.8, -0.05, 0, 0.8, 0, 0);
    overflow: visible !important;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20%;
    padding-left: -20%;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

.canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin: auto;
}


.submenuboat {
    display: inline-block;
    position: relative;
    padding: 0 3rem;
    float: left;

    vertical-align: middle;
    margin: auto;
    width: auto;
    background-color: #1d272d;

    height: 3rem;
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
}

#submenusection {
    background-color: #1d272d;
    display: none;
}

.showboat {
    display: inline;
    position: relative;

    top: 20%;
    vertical-align: middle;
    margin: auto;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}


/* width */
.dragscroll::-webkit-scrollbar {
    width: 10px !important;
}

/* Track */
.dragscroll::-webkit-scrollbar-track {
    background: black !important;
}

/* Handle */
.dragscroll::-webkit-scrollbar-thumb {
    background: #009ac7 !important;
}

/* Handle on hover */
.dragscroll::-webkit-scrollbar-thumb:hover {
    background: white !important;
}

.boat_btn {
    stroke-width: 1px;
    stroke: #009ac7;
    visibility: hidden;
    fill: transparent;
    width: 100%;
    height: 50px;
}


.boat1:hover #hideBtn {

    visibility: visible;
}

.boat1:hover .hideText {
    visibility: hidden;
}

.boat1 {
    display: inline-block;
    position: relative;
    top: 20%;
    vertical-align: middle;

    width: 20% !important;
    background-color: #1d272d;
    border-style: solid;
    border-color: #9A9A9A;
    border-width: 1px;
    min-width: 234px;
    min-height: 310px;
}

.dragingBoat {
    position: relative;
    width: 33%;
    display: inline-block;
    height: 60vh;

    white-space: nowrap;
}

.boat-boat {
    width: 100%;


    background-position: center center;
    background-repeat: no-repeat;
    cursor: move;
    height: 100%;

    text-align: center;
    z-index: 1;
    background-size: 100%;
}

.submenuBoatPic {
    position: absolute;

    margin: auto;

    left: 0;
    right: 0;
}

.hideTextSubBoatMenu {
    position: absolute;
    top: 50%;
    left: 30%;
}

#boatSliderMain::-webkit-scrollbar {
    display: none;
}

.short_line {
    border-top: 2px solid #009ac7;
    width: 0;
    -webkit-transition: width 1s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: width 1s;
    transition-timing-function: linear;
}

.popCard:hover .short_line {
    width: 20px;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: transform .6s;
    border-radius: 12px;

}

.popCard:hover .img__description {
    visibility: visible;
    transform: scale(1.2);
    opacity: 1;
}

/* Navbar */
.navbar-nav .nav-item a.link-lang {
    font-family: 'Forza-Bold', sans-serif !important;
    color: #fff;
    opacity: .8;
}

#header {
    position: relative;
    margin: 0 auto 0;
}


#header ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#header ul li {
    float: left;
    padding: 10px 20px;
}

#header ul li a {
    font-family: 'Forza-Bold', sans-serif !important;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

/* End Navbar */

/* 2019-02-17 */
.datepicker {
    margin-top: -40px;
}

/*.navbar-collapse:after, .navbar-collapse.collapse {*/
    /*background-color: #0b1216 !important;*/
    /*border-color: #0b1216 !important;*/
/*}*/

.page-loading {
    height: 100vh;
    background-color: #0b1216;
}

.page-loading > .logo-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-loading > .logo-loading > div > h4 > .text-loading {
    position: relative;
    color: rgba(0, 0, 0, .3) !important;
}

/*.detail-custom > p {*/
/*color: #1d272d !important;*/
/*font-family: PxGrotesk-Light, sans-serif !important;*/
/*}*/

p > strong {
    font-family: Forza-Bold, sans-serif !important;
    font-weight: 400 !important;
}

/*.detail-custom > p > a {*/
/*color: #009AC7 !important;*/
/*font-family: PxGrotesk-Light, sans-serif !important;*/
/*}*/

@media (min-width: 576px) {
    .page-loading > .logo-loading > .logo-file {
        width: 200px;
        height: 76px;
    }

    .page-loading > .logo-loading > div > h4 > .text-loading:before {
        content: attr(data-text);
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
        max-width: 7em;
        animation: loading 8s linear;
    }
}

@media (max-width: 768px) {
    .page-loading > .logo-loading > .logo-file {
        width: 200px;
        height: 76px;
    }

    .page-loading > .logo-loading > div > h4 > .text-loading:before {
        content: attr(data-text);
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
        max-width: 7em;
        animation: loading 8s linear;
    }
}

@media (min-width: 992px) {
    .page-loading > .logo-loading > .logo-file {
        width: 400px;
        height: 152px;
    }

    .page-loading > .logo-loading > div > h4 > .text-loading:before {
        content: attr(data-text);
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
        max-width: 7em;
        animation: loading 2s linear;
    }
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}
